.movies {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
}

.movies .movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1 180px;

  margin: 1px;
  margin-bottom: 20px;

}

.movies > :hover{
  transform:scale(1.05);
  transition: transform .35s;
}
.movie .movie__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: auto;
  height: auto;
  max-width: 170px;
  
  color: white;
}

.movie img {
  width: auto;
  height: auto;
  max-width: 149.5px;
  max-height: 227.5px;
  margin-top: 10px;
}
.movie .movie__title {
  all:unset;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 15px;
}

.movie .movie__year {
  margin: 0px;
  margin-left: 10px;
  font-size: 9px;
}

.genres {
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.genres .genres__genre {
  margin: 0px;
  font-size: 13px;
}
