.nav_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    padding-top: 30px;
    padding-left: 30px;
}

.nav_btn button{
    margin: 5px;
    background-color: #f2f2f2;
    border-color: transparent;
    border-radius: 5px;
}

.nav_btn Link{
    color: blue;
}

.nav_btn button :hover {
    color: orange;
}