.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    padding-top: 30px;
    padding-left: 30px;

}

.nav .nav__btn {
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
}

.nav .nav__btn:hover{
    transform: scale(1.1);
    color: orange;
    text-decoration: underline;
    transition: transform .35s;
}